.icon-select-field li label {
    font-size: 2rem;
    text-align: center;
    line-height: 50px;
    opacity: 0.6;
}

.icon-select-field li input:checked + label {
    font-size: 2.5rem;
    opacity: 1;
}

.icon-select-field li input:checked + label:after {
    content: none !important;
}


.icon-select-field ul {
    overflow: hidden;
    padding-left: 0;
}

.icon-select-field li {
    float: left;
    list-style: none;
}

.icon-select-field input {
    display: none;
}

.icon-select-field li label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    margin: 5px 5px 5px 5px;
    outline: 1px solid #fff;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-select-field li label svg{
    width: 60%;
    height: 60%;
}

.icon-select-field.readonly li label {
    cursor: default;
}
.icon-select-field li input:checked + label {
    outline: 5px solid #ddd;
    position: relative;
}

.icon-select-field li input:checked + label:after {
    position: absolute;
    width:100%;
    height:100%;
    line-height: 50px;
    text-align: center;
    content:"\2714";
    color:#000;
    text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
}

.icon-select-field h4 {
    padding: 8px 8px 8px 0;
    line-height: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
    font-size: 12px;
    margin: 0;
}

/* react component styles */
.icon-select-field .form__field-holder > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.icon-select-field .form-check-label {
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: block;
    margin: 5px;
    outline: 1px solid #fff;
    border: 1px solid #999;
}

.icon-select-field .form-check {
    padding: 0;
}

.icon-select-field.form-check-label:has(input:checked) {
    outline: 5px solid #ddd;
    position: relative;
}

.icon-select-field .form-check-label:has(input:checked)::after {
    position: absolute;
    width:100%;
    height:100%;
    line-height: 50px;
    text-align: center;
    content:"\2714";
    color:#000;
    text-shadow:
            -1px -1px 0 #fff,
            1px -1px 0 #fff,
            -1px 1px 0 #fff,
            1px 1px 0 #fff;
}
